<!-- <grocery></grocery> -->
<!-- <fruits></fruits> -->
<!-- <app-instalike [isLiked]="post.isLiked"  [likesCount]="post.likesCount"
(likeEvent)="likeEvent($event)"></app-instalike> -->
<!-- <app-card>
    <ng-container class="card-title">
        <h3>
        Angular Course
    </h3>
</ng-container>
    <ng-container class="card-body">
        <p>
            Angular course content here coming dynamically
        </p>
    </ng-container>
</app-card> -->
<!-- <app-directives></app-directives> -->
<!-- <app-debitcard></app-debitcard> -->
<!-- <app-student></app-student> -->
<!-- <app-register></app-register> -->
<app-crud></app-crud>