<div class="alert alert-success" *ngIf="addStatus">Student added successfully</div>
<form ngForm #studentForm="ngForm" (ngSubmit)="registerStudent(studentForm)">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" 
    ngModel #email="ngModel" id="email" 
    name="email" placeholder="Enter email"
    required email>
    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
      <div *ngIf="email.errors.required">  Please enter your email</div>
      <div *ngIf="email.errors.email">Please enter a valid email</div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" 
    ngModel id="name" #name="ngModel" 
    name="name" placeholder="Enter Names" required minlength="4">
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      <div *ngIf="name.errors.required">Please enter your name</div>
      <div *ngIf="name.errors.minlength">Name should have minimum {{ name.errors.minlength.requiredLength }} characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="mobile">mobile</label>
    <input type="text" class="form-control" 
    ngModel id="mobile" #mobile="ngModel" 
    name="mobile"  placeholder="Enter Mobile Number" maxlength="10" required >
    <div class="alert alert-danger" *ngIf="mobile.touched && mobile.invalid">Please enter your mobile number</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="studentForm.invalid">Submit</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td [class.firstClass]="f">{{ student._id }}</td>
      <td [class.firstClass]="f">{{ student.name }}</td>
      <td [class.firstClass]="f">{{ student.email }}</td>
      <td [class.firstClass]="f">{{ student.mobile }}</td>
    </tr>
  </tbody>
</table>